[submodule "frameworks/ki"]
	path = frameworks/ki
	url = https://github.com/FrozenCanuck/Ki.git
[submodule "frameworks/mata"]
	path = frameworks/mata
	url = https://github.com/FrozenCanuck/Mata.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = https://github.com/sproutcore/sproutcore.git
